\section{Introduction}

\begin{itemize}
	\item Establish the scope of your report
	\item Define the most important background information and the current state of the field your research is placed in
	\item Describe your research approach, the problem you are trying to solve
	\item Highlight potential outcomes that can be established as part of the report
	\item Outline the structure of your paper
\end{itemize}
